<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>MY first flask</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center">Hello i'm the best programmer</h1>
                <h2 style="color: {{query['color']}}">{{ query['name'] }}</h2>
                <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress">
                          <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                {{ names }}
                    <ul class="list-group">
                        {% for name in names %}
                            {% if name[0] != 'f' %}
                         <li class="list-group-item">{{ name }}</li>

                             {% else %}
                                <li class="list-group-item">-----</li>
                             {% endif %}
                        {% endfor %}

<!--  <li class="list-group-item">{{ names[1]}}</li>-->
<!--  <li class="list-group-item">{{ names[2]}}</li>-->
<!--  <li class="list-group-item">{{ names[3]}}</li>-->
<!--  <li class="list-group-item">{{ names[4]}}</li>-->
<!--   <li class="list-group-item">{{ names[5]}}</li> -->
<!--  <li class="list-group-item">{{ names[5]}}</li>                      -->
                    </ul>
            </div>
        </div>
    </div>
</body>
</html>